.card{
    width: 20vw;
    height: 40vh;
    border-radius: 5px;
    background: green;
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
  }

  .image{
      width: 100%;
      height: 70%;
  }

  .namePrice{
      display: flex;
      justify-content: space-between;
  }
